[submodule "other_ws/src/navigation2"]
	path = other_ws/src/navigation2
	url = https://github.com/suchetanrs/navigation2
[submodule "other_ws/src/common_interfaces"]
	path = other_ws/src/common_interfaces
	url = https://github.com/ros2/common_interfaces
