**.vscode**
*.csv
root_dir/.cache
root_dir/.config
root_dir/.gz
root_dir/.ignition
root_dir/.local
root_dir/.nv
root_dir/.ros
root_dir/.rviz2
root_dir/.sdformat
root_dir/.simulation-gazebo
root_dir/ros2_ws/build
root_dir/ros2_ws/install
root_dir/ros2_ws/log
root_dir/.bash_history
root_dir/.viminfo
root_dir/.wget-hsts
**__pycache__**
other_ws/build**
other_ws/install**
other_ws/log**
other_ws/**
experimental_ws/**
root_dir/ros_env_vars.sh