<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Transformers Age of Extinction Mega 1-Step Bumblebee Figure
Join the epic battle between the Autobots and Decepticons with this giant Bumblebee figure that switches between robot and vehicle modes in 1 awesome step! You can experience the wow of the fluid conversion you see your favorite Transformers characters perform. Just flip to change from robot to vehicle and back. With a firing disc launcher included, you can create exciting Transformers battles, all in larger, mega-sized scale!</description>
</model>
